version: '3'
services:
  dropbox-monitor:
    image: ghcr.io/aperim/docker-dropbox-size-monitor:latest
    restart: always
    environment:
      - DROPBOX_TOKEN
      - TWILIO_ACCOUNT_SID
      - TWILIO_AUTH_TOKEN
      - TWILIO_PHONE_NUMBER
      - PHONE_NUMBERS
      - LOGGING
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - node.role==worker
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
